# ignore environment variables and local dev settings
django/env/
.env.dev
pyrightconfig.json

# ignore cache files
django/nbi/__pycache__
django/nbi/migrations/__pycache__
django/nbi-api/__pycache__
django/nbi-api/migrations/__pycache__

# ignore frontend package files
preact/node_modules
preact/build
preact/public/build
express-redis/node_modules
express-redis/data

#ignore csvs
postgres/*.csv

