# ignore environment variables and local dev settings
app/env/
#.env.dev
pyrightconfig.json
*/.env

# ignore cache files
app/nbi/__pycache__
app/nbi/migrations/__pycache__
app/national/__pycache__
app/national/migrations/__pycache__
.mypy_cache

# ignore frontend package files
preact/node_modules
preact/build
preact/public/build
express-redis/node_modules
express-redis/data
nginx
bridge_animation
bridge.watch_nginx

#ignore csvs
postgres/*.csv
